@import "~@blueprintjs/core/lib/scss/variables"
@import "./Main"

.main-menu
  background-color: $light-gray3

  .bp3-button
    margin: $border-width

.download-button
  right: 0
  position: absolute

