@import "~@blueprintjs/core/lib/scss/variables"
@import "./Main"
@import "./App"

.main-menu
  background-color: $gray5
  display: grid
  grid: auto / 50% 50%

  .annotation-menu, .preview-menu
    display: flex
    justify-content: space-between

    .new-document-button
      margin: $border-width

    .scores-button
      margin: $border-width 0.5*$border-width $border-width

    .download-button
      margin: $border-width

    .compile-button
      margin: $border-width $border-width $border-width 0.5*$border-width

