@import "../Main"

.preview-card
  margin: $border-width $border-width $border-width 0.5*$border-width
  position: relative
  box-shadow: none

.preview-text
  margin-bottom: 30px

.download-button
  bottom: 10px
  right: 10px
  position: absolute
