@import "~@blueprintjs/core/lib/scss/variables"

.config-menu
  background: $light-gray1
  border-radius: 0
  overflow-y: scroll

  label.bp3-label
    margin-bottom: 10px

  ul
    padding-left: 20px

  select
    margin-bottom: 10px

.mechanism
  label.bp3-label
    margin-bottom: 0
